<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- xsd + dtd 可以对xml进行约束 -->
<configuration>
    <typeAliases>
        <!--
        <typeAlias type="cn.canway.model.Product" alias="product" />
        -->
        <!-- 支持包扫描机制,默认扫描所有Class文件,并且别名是类的简单名称且第一个字母小写 -->
        <package name="cn.canway.model"/>
    </typeAliases>
    <!-- sql映射文件: 所有与sql语句相关的配置都保存在此处(定义缓存、关系映射) -->
    <!-- 此sql映射文件本质就是DaoImpl,因此后续所有的DaoImpl都删除,用此XML取代 -->
    <mappers>
        <!-- 1：首先找到當前包里面所有的Class文件
            cn.canway.dao.impl.ProductDao
            2: 把.替换为/在类后面添加.xml 即可 (XML与接口必须同目录,并且名称相同)
            ==> cn/canway/dao/impl/ProductDao.xml
         -->
        <package name="cn.canway.dao.impl"/>
        <!--
        <mapper resource="cn/canway/dao/impl/ProductDao.xml"/>
        -->
    </mappers>
</configuration>