<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    <!-- Spring 框架, 主要解决对象的创建问题, IOC  AOP
         lazy-init = True: 懒加载,使用时才会被创建
         scope="prototype": 多例模式
    -->
    <!-- dataSource: 替换JdbcUtil -->
    <bean id="ds" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="user" value="root" />
        <property name="password" value="root" />
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/demo" />
    </bean>

    <bean id="ps" class="cn.canway.service.impl.ProductServiceImpl">
        <property name="productDao" ref="productDao" />
    </bean>

    <!-- 配置声明式事务: 事务本质来源于Connection,因此需要事务管理器,并且依赖Connection -->
    <bean id="tm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds" />
    </bean>

    <tx:advice id="ad" transaction-manager="tm" >
        <!-- 配置通知: 本质就是在需要事务的地方动态切入事务 -->
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="*" propagation="NEVER"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <!-- 配置切面表达式 -->
        <aop:pointcut id="pt" expression="execution(* cn.canway.service.*.*(..))" />
        <!-- 二合一则就能提供精确的切入表达式 -->
        <aop:advisor advice-ref="ad" pointcut-ref="pt" />
    </aop:config>


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <property name="dataSource" ref="ds" />
    </bean>
    <!-- 通过接口 + Mapper映射文件动态创建代理类(ProductDaoImpl)
         此方式如果dao很多则会配置多次,因此也可以使用扫描方法
    <bean id="pd" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="cn.canway.dao.impl.ProductDao" />
    </bean>
    -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描指定包的接口, 然后去找与接口同名的namespace对应的xml文件
             此方式取代上面的动态代理类生成,一次可以生成多个代理类,默认代理类名称就是简单名称且第一个字母小写
        -->
        <property name="basePackage" value="cn.canway.dao.impl" />
    </bean>

</beans>